/* Common Shared Styles */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: red;
    padding: 20px 43px;
    border: 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}


/* Header Section Styles */


.header-section {

    background-color: beige;
    padding: 50px 240px 0px 240px;
}

.header-items h1,
p,
button {
    margin-bottom: 32px;
    justify-content: center;

}

.header-items {
    padding-top: 150px;


}


.header-title {
    color: #272727;

    font-size: 75px;
    font-style: normal;
    font-weight: 780;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.header-column {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;

}

.profile-pic {
    padding-top: 50px;
}

/* Bonus Section's Styles */
.bonus-text {
    text-align: center;
    padding-top: 100px;

}

.bonus-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.bonus-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;

}

.img-holder {
    display: flex;
    justify-content: center;
    gap: 20px;
}






.pics1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0px 75px;
    width: 310px;
    height: 428px;
    background-size: 464px 538px;


}

.pics2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    width: 370px;
    height: 370px;
    background-size: 464px 538px;


}

.pics3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
    width: 314px;
    height: 471px;
    background-size: 464px 538px;


}

.flower-names {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    gap: 300px;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

/* Own Made Section Related Styles */
.own-section {}

.own-container {}
.own-all-items{
    width: 1440px;
    margin:auto;
    align-items: center;
    /* background-color: aquamarine; */
}

.own-texts {}

.own-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;


}

.own-description {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;


}

.outlets-contrainer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 100px;

}

.shop-pic {
    width: 400px;
    height: 300px;
    padding-top: 100px;

}

.shop-info {
    padding-left: 50px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-right: 60px;
    padding-top: 50px;

}

h2 .red {
    color: red;
}

.Open {
    padding-bottom: 40px;
    line-height: 45px;
    text-align: right;
    padding-right: 80px;


}

.address {
    text-align: left;
}

.shop-name {
    color: red;
    font-family: Lato;
    font-size: 30px;
    font-weight: 600;
    padding-left: 110px;
    padding-bottom: 50px;
    
}


/* Hot Deal Section Ralated Styles */
.hot-deal {
    background-color: beige;
}

.hot-deal-item {
    padding-top: 230px;
    padding-bottom: 230px;
    text-align: center;
}

.hot-deal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 215px;
}

.hot-deal-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.hot-deal-title>span {
    color: red;
}

/* Photo Gallery Section */
.gallery-item {
    text-align: center;
    padding: 100px 0px 30px 0px;

}

.gallery-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    padding-bottom: 24px;
}

.gallery-description {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;

    font-weight: 400;
}

.gallery-img {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 100px;
}

.pic {
    width: 342px;
    height: 396px;
}

/* Contact Related Styles */
.contact {
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    width: 1440px;
    height: 449px;
    background-repeat: no-repeat;
    padding-top: 120px;
    margin: auto;
}

.contact-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 16px;
}

.contact-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.inputs {
    justify-items: center;
    align-items: center;
    text-align: center;


}

.email {
    width: 650px;
    height: 46;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-right: 16px;
    padding: 22px;
}

/* Footer Related Styles */
.footer-container {
    background-color: black;
    padding: 130px 100px;
    color: #FFF;
    text-align: center;
}

.footer-title {
    color: red;
    margin-bottom: 24px;

}

.footer-title span {
    color: rgb(255, 255, 255);

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.copyrithgt {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}